/* CV STYLING */
.cv {
    position: relative;
}
.cv-container{

    position: absolute;

    top: 90px;
    left: 570px;  
    max-width: fit-content;
    height: 1500px;
    background-color: #FBEAEB;
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    overflow-y: scroll;

   
}

.cv-info{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.cv-name,
.cv-email-tel{
    width: 900px;
    height: 70px;
    font-size: 20px;
    color: #FBEAEB;
    background-color: #2F3C7E;
}

.cv-name{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cv-email-tel{
    display: flex;
    justify-content: space-evenly;
}


/* EDUCATION INFO STYLING */

.cv-education-header,
.cv-experience-header{
    
    text-align: center;
    color: #2F3C7E;
}

.company-info{
    width: 600px;
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    color: #2F3C7E;
}

.school-name,
.degree-name {
    margin-left: -340px;
    color: #2F3C7E;
}

.description{
    margin-left: -20px;
    color: #2F3C7E;
}


.description > h2 {
    margin-top: 50px;    
    color: #2F3C7E;
}

.content {

    width: 600px;
    height: 200px;
    margin: 0;  
    word-wrap: break-word ;
    border: 1px dotted #2F3C7E;
    border-radius: 10px;
    margin-left: -20px;
    padding: 20px;
}

.content > p {

    color: #2F3C7E;
}


.experience-info{
    margin-left: 40px;
}

.education-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    
}
.start-year,
.end-year{
    color: #2F3C7E;
}
.year-info{
    margin-right: -200px;
}

.line-education {
    position: absolute;
    border: 1px solid #2F3C7E;
   
    border-radius: 10px;
    width: 800px;
    margin-left: -400px;
}

.cv-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2230px;
    background-color: #2F3C7E;
    color: #FBEAEB;
    height: 100px;
    width: 900px;
}


