.companyName,
.jobName,
.descName,
.durationName {
    display: flex;
    flex-direction: column;

    padding-top: 20px;
    width: 400px ;

    font-family: sans-serif;
}

.companyLabel,
.jobLabel,
.descLabel,
.durationLabel {
    font-weight: 800;
}

#company, 
#job,
#desc,
#duration {
    width: 400px;
    height: 20px;

    color: #201E20;
    border: 1px solid black;
    border-radius: 5px;
}

#desc {
    height: 100px;
}