.header{

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
    background-color: #2F3C7E;
}

.header > h1{
    font-family: sans-serif;
    color: #FBEAEB;
}