.header{

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
    background-color: #201E20;
}

.header > h1{
    font-family: sans-serif;
    color: #E0A96D;
}